body {
  background-color: black;
}

div {
  color: white;
  width: 50%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: white;
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 30px;
}
p {
  font-size: 24px;
}
a {
  font-size: 24px;
  color: teal;
}
/*  i am going insane */ 
